.pages {
  width: 100%;
  margin-top: 70px; }
  .pages .pages-number-container {
    margin: 0 auto;
    display: table;
    width: auto; }
    .pages .pages-number-container .pages-number {
      font-weight: 500;
      display: inline-block;
      padding: 3px 8px;
      font-size: 15px;
      margin: 5px;
      cursor: pointer;
      color: #5b5b5b;
      min-width: 8px;
      text-align: center; }
      .pages .pages-number-container .pages-number.active {
        background-color: #dc285c;
        border-radius: 100%;
        color: white !important; }
