.style-col{
    flex: initial;
    .style-card{
        min-height: 600px;
        margin: 50px 0;
        .col{
            padding: 0;
        }
        .btn {
            min-width: 100%;
        }
    }
}